@use "../../styles/partials/global" as *;

.details{
    padding: 0 1rem;
    padding-top: 1rem;

    @include tablet{
        padding: 1rem 5vw;
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 1rem;
    }
    &__image{
        width: 30px;
        margin-left: 1.5rem;
        
    }

    &__text{
        width: 70%;
    }
}