@use "../../styles/partials/global" as *;

.home__details{
    padding: 0 1rem;
    padding-top: 1rem;

    @include tablet{
        padding: 1rem 5vw;
    }

    &-section{

        @include desktop {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }

    &-container {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 1rem;

        @include desktop {
            width: 19.14vw;
            display: flex;
            justify-content: space-between;
        }
    }

    &-image{
        width: 30px;
        margin-left: 1.5rem;

        @include desktop {
            margin: 0;
        }
    }

    &-text{
        width: 70%;
    }
}