.language-page__recorder{
    text-align: center;

    &-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-box{
        width: 40px;
        height: 40px;
        padding: 5px;
        border-radius: 50%;
    }

    &-in-progress{
        width: 40px;
        height: 40px;
        padding: 5px;
        border-radius: 50%;
        border: 1px solid red;
    }


    &-mic-icon{
        width: 15px;

        &:hover{
            cursor: pointer;
        }
    }
    

    &-stop-icon{
        height: 15px;
        margin-left: 1rem;
        padding-bottom: 0.25rem;

        &:hover{
            cursor: pointer;
        }
    }

    &-play-icon{
        width: 15px;
        margin-left: 1rem;
        padding-bottom: 0.25rem;
        &:hover{
            cursor: pointer;
        }
    }
}

