.recorder{
    text-align: center;

    // &__container{

        
  
    // }

    &__mic-icon{
        width: 15px;
        margin-top: 1rem;
        &:hover{
            cursor: pointer;
        }
    }
    &__stop-icon{
        width: 15px;
        margin-left: 1rem;
        padding-bottom: 0.25rem;
        &:hover{
            cursor: pointer;
        }
       
    }
    &__play-icon{
        width: 15px;
        margin-left: 1rem;
        padding-bottom: 0.25rem;
        &:hover{
            cursor: pointer;
        }
    }


}

