@font-face {
    font-family: 'Gudea';
    src: url(../../assets/fonts/Gudea-Regular.woff) format('woff');
    font-weight: 400; //Regular
    
}


@font-face {
    font-family: 'Gudea';
    src: url(../../assets/fonts/Gudea-Bold.woff) format('woff');
    font-weight: 700; //Bold
}
