.language{
    &__form {
        display: flex;
        flex-direction: column;
        width: 20%; //change later
    }

    &__speaker{
        width: 25px;
        &:hover{
            cursor: pointer;
        }
    }
}