@use '../../styles/partials/global' as *;

.language-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 91vh;

    &__main{
        padding: 1rem;

        @include tablet{
            padding: 1rem 5vw;
        }
    }

    &__no-audio{
        text-align: center;
        margin: 1rem;
        color: #F5622C;
        font-size: 18px;
    }    
}