@use '../../styles/partials/global' as *;

.language-page{

    &__hero{
        width: 100vw;
        display: flex;
        justify-content: center;
        &-image{
            width: 320px;

            @include tablet {
                width: 38vw;
            }
        }
    }

    &__main{
        margin: 0 1rem;
    }

    
    
}