@use "../../styles/partials/global" as *;

.nav {
    display: flex;
    justify-content: center;
    padding:1rem;
    background-color: #2EAEB7;
    font-size: 12px;//change

    @include tablet{
        justify-content: space-between;
    }

    &__logo{
        width: 150px;
        
    }

    &__titles{
        // display: flex;
        width: 40%; //change
        justify-content: space-between;
        display: none;

        @include tablet{
            display: flex;
        }

        &-languages{
            position: absolute;
            left: 80%;//change
            &:hover{
                cursor: pointer;
            }
        }
    }
}