.nav {
    display: flex;
    justify-content: space-between;
    padding:1rem;
    margin-bottom: 1rem;
    background-color: #DDF5F4;
    font-size: 12px;//change

    &__logo{
        width: 100px;
    }

    &__titles{
        display: flex;
        width: 40%; //change
        justify-content: space-between;

        &-languages{
            position: absolute;
            left: 80%;//change
        }
    }
}