@use '../../styles/partials/global' as *;

.footer{
    text-align: center;
    &__image{
        width: 200px;
        margin-top: 2rem;
        opacity: 75%;
    }

    &__text{
        font-size: 20px;
        font-weight: 700;
        color: #F5622C;
    }
    
}