.word-card{
    background-color: #2EAEB7;
    margin-bottom: 1rem;
    border-radius: 3px;
    box-shadow: 0 4px 8px -4px rgb(195, 200, 201);
    padding: 1rem 2.25rem 1rem 1rem;
    

    &__score{
        display: flex;
        justify-content: space-between;

        &-text{
            font-size: 20px;
            color: white;
            font-weight: 700;
        }
    }

    &__syllabes{
        display: flex;
        gap: 10px;
        // justify-content:space-between;
    }

    &__phonemes{
        display: flex;
        gap: 10px;
        width: 100%;
        overflow: auto;
        // flex-wrap: wrap;
        // justify-content:space-between;
    }
}