.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

.submit{
    text-align: center;
    
    &__button{
        width: 70px;
        align-self: center;
        margin-top: 1rem;
        background-color: #2EAEB7;
        margin-bottom: 1rem;
        padding: 0.5rem 0;
        color: white;
        border-radius: 5px;
        box-shadow: 0 8px 8px -4px lightblue;
        
        &:hover{
            cursor: pointer;
        }
    }
}

.modal {
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 0;
    position: absolute;

    // @include tablet {
    //     max-width: 500px;
    //     height: auto;
    //     left: 40%;
    // }
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
}