@use './styles/partials/global' as *;
@use './styles/partials/typekit' as *;

//Remove margin and padding, change box-sizing, remove styles

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a, link {
    text-decoration: none;   
    color: black;
    
}

button {
    border: none;
    background-color: white;
}

body {
    font-family: 'Gudea';
    font-weight: 400;
}

h1{
    font-size: 18px;
    font-weight: 700;

    @include tablet{
        font-size: 28px;
    }
}

h2{
    font-size: 13px;
    font-weight: 700;
    @include tablet{
        font-size: 18px;
    }
}

p, li{
    font-size: 13px;
    font-weight: 400;

    @include tablet{
        font-size: 16px;
    }

}

::-webkit-scrollbar {
    height: 4px;              /* height of horizontal scrollbar ← You're missing this */
    width: 4px;               /* width of vertical scrollbar */
    // border: 1px solid #000000;
    margin: 1rem 0;
  }

::-webkit-scrollbar-thumb:horizontal{
    background-color: rgb(255, 255, 255);
    // border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(240, 233, 233, 0.544);
    border: none;
}