@use './styles/partials/global' as *;
@use './styles/partials/typekit' as *;

//Remove margin and padding, change box-sizing, remove styles

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a, link {
    text-decoration: none;   
    color: black;
    
}

body {
    font-family: 'Gudea';
    font-weight: 400;
}